<div class="marketplace-list">
  <div class="single-item" *ngFor="let item of marketplacesItems">
    <div class="left-set">
      <img [src]="item. image" [alt]="item.title" />
    </div>
    <div class="right-set">
      <div class="name">{{ item.title | uppercase }}  </div>
      <div class="subname">{{ item.category }}</div>
      <div class="price">${{ item. price }}</div>
      <div class="description">
        <p>
          {{ item.description }}
        </p>
      </div>
    </div>
  </div>
</div>
